/*Old Mashed Gallery */

* {
  box-sizing: border-box;
}

body {
  margin: 0;

}

.gallery-header {
  text-align: center;
  padding: 32px;
}



.gallery-row {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.gallery-column {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}


.gallery-column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 10px;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .gallery-column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .gallery-column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

/*Old Mashed Gallery */



/*Video Player scrolling*/
.embed-player {
  width: 95%;
  height: 400px;
  z-index: 9;
  position: relative;
  border-radius: 10px;
}

@media screen and (max-width: 800px) {
  .embed-player {
    width: 95%;
    height: 200px;
  }
}


@media screen and (max-width: 600px) {
  .embed-player {
    width: 95%;
    height: 200px;
  }
}

.glass {
background: rgba(198, 211, 227, 0.7);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(6.4px);
-webkit-backdrop-filter: blur(6.4px);
border: 1px solid rgba(198, 211, 227, 0.3);
}
/*End of Video Player Scolling*/




/*Gallery on Events page*/
.gallery1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.span-column {
  grid-column: span 2;
}

.span-row {
  grid-row: span 2;
}

/*
@media (max-width: 768px) {
  .gallery1 {
      grid-template-columns: repeat(1, 1fr)
}
}

@media (max-width: 480px) {
  .gallery1 {
      grid-template-columns: 1fr;
  }
}
/*End of Gallery on Events page*/



/*Gallery on Gallery page*/
.gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.overlayRed {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);


  background: rgba(0, 0, 0, 0.45);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.9px);
  -webkit-backdrop-filter: blur(6.9px);
  border: 1px solid rgba(0, 0, 0, 0.26);

  color: #f1f1f1; 
  opacity: 1;
  width: 100%;
  transition: .2s ease;

  color: white;
  font-size: 20px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.gallery-item:hover .overlayRed {
  font-size: 25px;

}



.overlayBlack {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);


  background: rgba(0, 0, 0, 0.4);

  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(11.5px);
  -webkit-backdrop-filter: blur(11.5px);
  border: 1px solid rgba(0, 0, 0, 0.26);

  color: #f1f1f1; 
  opacity: 1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;

  color:#fff;
  font-size: 30px;
  font-weight: 500;
  padding: 5px;
  text-align: center;
}

.gallery-item:hover .overlayBlack {
  opacity: 1;
}






.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.span-column {
  grid-column: span 2;
}

.span-row {
  grid-row: span 2;
}



@media (max-width: 768px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr);
}
  .overlay {
    font-size: 15px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .gallery {
      grid-template-columns: repeat(2, 1fr);
  }
  .overlayRed {
    font-size: 15px;
    padding: 0px;
  }
}
/*End of Gallery on Gallery page*/



/*Gallery on Video Gallery page*/
.Vgallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 20px;
  background-color: #fff;
}

.gallery-item {
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.span-column {
  grid-column: span 1.5;
}

.span-row {
  grid-row: span 2;
}

@media (max-width: 768px) {
  .Vgallery {
      grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 480px) {
  .Vgallery {
      grid-template-columns: repeat(2, 1fr);
  }

}


/*End of Gallery on Gallery page*/



#myCarousel {
  --f-carousel-slide-width: calc(94% / 2);
  --f-carousel-spacing: 0;

  --f-button-next-pos: 30px;
  --f-button-prev-pos: 30px;

  --f-button-width: 44px;
  --f-button-height: 44px;
  --f-button-border-radius: 50%;

  --f-button-color: #000;
  --f-button-hover-color: #fff;
  --f-button-active-color: #fff;

  --f-button-bg: rgba(255, 255, 255, 100);
  --f-button-hover-bg: #1D438D;
  --f-button-active-bg: #1D438D;

  --f-button-svg-width: 22px;
  --f-button-svg-height: 22px;
  --f-button-svg-stroke-width: 3;

  --f-progress-color: transparent;
}



#myCarousel .f-carousel__slide {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: visible;
  padding: 10% 10px;

}

#myCarousel img {
  border-radius: 4px;
  transform: scale(var(--f-scale, 1)) translateX(var(--f-translateX, 0));
  background: #fff;
  filter: blur(var(--f-blur, '0'));
}

@media all and (max-width: 960px) {

#myCarousel {
    --f-button-next-pos: 0px; 
    --f-button-prev-pos: 0px;
}

.f-button {
  margin: 0;
  padding: 0;
  width: 35px;
  height: 35px;

}

.f-carousel__slide {
  position: relative;
  flex: 0 0 auto;
  width: calc(94% / 1.2);
  max-width: 100%;
  height: var(--f-carousel-slide-height);
  margin: 0 var(--f-carousel-spacing) 0 0;
  padding: var(--f-carousel-slide-padding);
  outline: 0;
  transform-origin: center center;
}

}